<nav class="navbar navbar-expand navbar-danger bg-danger ">
    <a class="navbar-brand" href="">Alunos do Jivago App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/alunos">Listar <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alunos/new">Cadastrar</a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>




<footer class="page-footer bg-danger " >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Obrigado!</h5>
        <p class="grey-text text-lighten-4">Obrigado pelo acesso!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://mywhats.net/16513">Entre em contato</a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:eriksantoz@icloud.com?Subject=Hello%20again">Mande-me um email</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright bg-danger ">
    <div class="container">
    © developed by Erik Santos
    </div>
  </div>
</footer>

